<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12F45</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>Orchids0.9.2</string>
	<key>CFBundleGetInfoString</key>
	<string>0.9.2, Copyright 2013-2015 Ircam</string>
	<key>CFBundleIconFile</key>
	<string>Max.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.ircam.Orchids</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>0.9.2</string>
	<key>CFBundleLongVersionString</key>
	<string>Orchids 0.9.2, Copyright 2013-2015 Ircam</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.9.2</string>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>4H1003</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0462</string>
	<key>DTXcodeBuild</key>
	<string>4H1003</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>i386</string>
		<string>x86_64</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
